* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Arial Narrow Bold", sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: yellowgreen;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 2rem 0;

  gap: 5rem;
}

.reviews-container__title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.reviews-container__title > h1 {
  font-size: 4rem;
  letter-spacing: 5px;
}

.reviews-container__title > hr {
  width: 75%;
  height: 8px;
  border-radius: 0.5rem;
  background-color: yellow;
  border: 1px solid black;
}

.reviews-container__review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
  background-color: yellow;

  width: 100%;
  border-radius: 1rem;
  border: 3px solid black;
}

.reviews-container__buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.reviews-container__buttons > button {
  cursor: pointer;
  font-size: 2rem;
  background-color: inherit;
  border: none;
  border-radius: 0.5rem;

  transition: transform 0.1s ease-in;
}

.reviews-container__buttons > button:nth-of-type(2) {
  font-size: 1rem;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  background-color: blue;
  color: white;
}

.reviews-container__buttons > button:hover {
  transform: scale(1.5);
}

.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#img-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#photo {
  width: 10rem;
  height: 10rem;
  margin-top: 2rem;
  border-radius: 50%;
  border-color: blue;
  border-style: solid;

  border-top-width: 0.8rem;
  border-right-width: 1rem;
  border-bottom: none;
  border-left: none;

  box-shadow: 1px 1px 15px 7px blue;
  object-fit: cover;
}

#quote-id {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: yellowgreen;
  padding: 0.5rem;
  margin-top: 3rem;
  transform: translateX(-7px);
}

#name {
  margin: 1rem 0 0.5rem 0;
  font-weight: 800;
  font-size: 1.6rem;
}

#role {
  margin-bottom: 2rem;
  font-weight: 800;
}

#review-content {
  margin: 0 2rem 1rem 2rem;
  letter-spacing: 0.1rem;
  font-size: 0.95rem;
  font-weight: 800;
  text-align: center;
  transition: font-size 0.5s;
}

#button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
  justify-content: space-evenly;
}

@media screen and (max-width: 1000px) {
  #review-content {
    font-size: 0.75rem;
  }
  section {
    min-width: 70%;
  }
}
